# Build artifacts
/book/
target/
*.bin

# Nodejs Files (dprint)
node_modules/
package.json
pnpm-lock.yaml

# Crowdin Config (Contains API Keys)
crowdin.yml

# Google's Project IDX files and VSCode
.idx/
.vscode/

# Python virtualenv (for mdbook-slide-evaluator local installation)
.venv/
